.tablaAzul {     
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;    
    margin: 25px 45px 45px 65px;     
    width: 90%; 
    text-align: left;    
    border-collapse: collapse;
}

.tablath {     
    font-size: 16px;     
    font-weight: bold;     
    padding: 8px;     
    background: #006699;
    color: #FFFFFF;
}

.tablatd {    
    padding: 8px; 
    font-weight: bold;      
    background: #FFFFFF;     
    border-bottom: 1px solid #c2c8e0;   
    border-top: 1px solid transparent;
    border-left: 1px solid #c2c8e0; 
    border-right: 1px solid #c2c8e0;
}

tr:hover .tablatd  { background: rgb(236,236,236) }

.tablaSelect{

    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.tablaH3{
    margin-top: 50px;
}
.spanAncho{
    font-weight: 700;
}

.centro{
    text-align: center;
}